ADMIN_CORS=https://admin.eww-pew.com
AUTH_CORS=https://store.eww-pew.com,https://admin.eww-pew.com,https://server.eww-pew.com
CACHE_REDIS_URL=redis://default:R2TVb2inU82SQqtlifO5CTHl629zCcyv20e8ZVtztJXJp0VcHHFCzY4z6AfIkaDn@xk4swgcw88koo0osk8w4k044:6379/0
COOKIE_SECRET=supersecret
DATABASE_URL=postgres://postgres:TJjtuKl048XHRAfY8PjwRgbiFMOfllYVdTs2eAMsPHHPa5atXfsG2CWAFWTiczsW@bsc8w80800s0o08swoco08gw:5432/postgres
DISABLE_MEDUSA_ADMIN=false
EVENTS_REDIS_URL=redis://default:R2TVb2inU82SQqtlifO5CTHl629zCcyv20e8ZVtztJXJp0VcHHFCzY4z6AfIkaDn@xk4swgcw88koo0osk8w4k044:6379/0
JWT_SECRET=supersecret
MEDUSA_ADMIN_EMAIL=your-admin-email@example.com
MEDUSA_ADMIN_PASSWORD=your-secure-password
MEDUSA_BACKEND_URL=https://worker.eww-pew.com
MEDUSA_CREATE_ADMIN_USER=false
MEDUSA_WORKER_MODE=shared
PORT=9000
REDIS_URL=redis://default:R2TVb2inU82SQqtlifO5CTHl629zCcyv20e8ZVtztJXJp0VcHHFCzY4z6AfIkaDn@xk4swgcw88koo0osk8w4k044:6379/0
STORE_CORS=https://store.eww-pew.com
WE_REDIS_URL=redis://default:R2TVb2inU82SQqtlifO5CTHl629zCcyv20e8ZVtztJXJp0VcHHFCzY4z6AfIkaDn@xk4swgcw88koo0osk8w4k044:6379/0